<!-- BEGIN: table -->
<table id="myTable" class="tablesorter">
    <thead>
    <tr>
        <th>Номер заказа</th>
        <th>Имя покупателя</th>
        <th>Email</th>
        <th>Номер телефона</th>
        <th>Функции</th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN: rows -->
    <tr class="Order">
        <td class="id">{DATA.id}</td>
        <td class="name">{DATA.name}</td>
        <td class="email">{DATA.email}</td>
        <td class="phone">{DATA.phone_number}</td>
        <td>
            <a href="/orders_details?id={DATA.id}">Подробнее...</a>
            <button id="deleteOrder">Удалить</button><button id="updateOrder">Обновить</button>
        </td>
    </tr>
    <!-- END: rows -->
    </tbody>
    <tr id="newOrder">
        <td></td>
        <td><input id="new_name" type="text" name="order_name" value=""/></td>
        <td><input id="new_email" type="text" name="order_email" value=""/></td>
        <td><input id="new_phone" type="text" name="order_phone" value=""/></td>
        <td><button id="addOrder">Добавить</button></td>
    </tr>
</table>
<!-- END: table -->